main {
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.recipe-header {
    padding-top: 64px;
    width: 100%;
}

.recipe-header-img {
    width: 100%;
    padding: 20px 0;
}
.recipe-header-img img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.description-columns {
    display: flex;
    gap: 20px;
}

.header-description { padding-bottom: 72px;}
.description { padding-bottom: 24px;}

.grey-box {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    padding: 6px 8px;
    border-radius: 10px;
    gap: 10px;
}

.grey-box img {
    width: 16px;
    height: 16px;
}

.seperator {
    width: 100%;
    height: 2px;
    background-color: rgb(241, 241, 241);
}

.recipe-ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

.calculation {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}
.calculation-mobile {
    display: flex;
    width: 50%;
}
.calculation label {
    padding-right: 10px;
}

#portions {
    width: 100%;  
    max-width: 200px;
    height: 41px;
    padding: 0 8px;
    box-sizing: border-box;
    display: block;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
}

#portions-btn {
    padding: 0 16px;
    height: 41px;
    line-height: 41px;
    border: none;
    background: rgb(0,160,0);
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
}

.grey-line {
    background-color: rgb(241, 241, 241);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td {
    text-align: left;
    padding: 14px 24px;
    border-radius: 10px;
}

.preparation {
    width: 100%;
    padding-bottom: 48px;
}
.preparation h2 {
    padding-bottom: 24px;
}
.description-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 32px;
}

.author {
    width: 100%;
    padding-bottom: 48px;
}

.author h3 {
    padding-bottom: 24px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 32px;
}
.profile-picture {
    width: 72px;
    border-radius: 50%;
}
.profile-caption {
    font-family: Raleway Light;
    font-size: 24px;
}

@media (max-width: 767px) {
    main {
        padding: 0 80px;
    }
}

@media (max-width: 576px) {
    main {
        padding: 0 60px;
    }
    .calculation-mobile {
        display: flex;
        max-width: 80%;
        width: 100%;
        align-items: center;
        box-sizing: border-box;
    }
    .calculation {
        flex-direction: column;
    }
    .grey-box {
        width: 50%;
    }
    .description-columns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 470px) {
    .description-columns {
        display: flex;
    }
    .grey-box {
        width: 70%;
    }
    .grey-box p {
        font-size: 14px;
    }
    .calculation-mobile {
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 24px;
    }
    .calculation {
        flex-direction: column;
        gap: 10px;
    }
    .profile-picture {width: 64px;}
    .profile-caption {font-size: 20px;}
}