/* Recipe of the Day Page */

.main-recipe, .recipes, .fun-fact-container {
    display: flex;
    margin: auto;
    height: 400px;
}

.recipes, .fun-fact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 130px;
}

.main-recipe {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 500px;
}

.main-recipe-content {
    display: flex;
    align-items: stretch;
    gap: 30px;
    padding: 50px 0;
}

/* Bild */
.croissant-img {
    width: 100%;
    max-width: 60%;      
    object-fit: cover;
    border-radius: 15px;
}

/* Caption */
.main-recipe-caption {
    flex: 1 1;     
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-width: 0;      
}


.main-recipe-description {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    width: 100%;
}
.main-recipe-btn {
    border: 15px;
    background-color: green;
    height: 45px;
    width: 220px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
.main-recipe-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
}

.gray-container {
    background-color: rgb(238, 238, 238);
}

h3 {
    font-size: 24px;
    letter-spacing: 1px;
}

.recipes-columns, .fun-fact {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin: auto;
}

.recipes-columns {
    gap: 20px;
}

.column-img img, .fun-fact-img img {
    width: 100%;
    max-height: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 7px;
}

.column-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column-caption {
    text-align: center;
    font-family: Raleway Bold;
    color: black;
}

.fun-fact {
    gap: 100px;
}

.fun-fact-caption {
    font-family: Raleway Regular;
    width: 70%;
}


/* Recipe Page */

.recipe-main-container {
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.recipe-header {
    padding-top: 64px;
    width: 100%;
}

.recipe-header-img {
    width: 100%;
    padding: 20px 0;
}
.recipe-header-img img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.description-columns {
    display: flex;
    gap: 20px;
}

.header-description { padding-bottom: 72px;}
.description { padding-bottom: 24px;}

.grey-box {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    padding: 6px 8px;
    border-radius: 10px;
    gap: 10px;
}

.grey-box img {
    width: 16px;
    height: 16px;
}

.seperator {
    width: 100%;
    height: 2px;
    background-color: rgb(241, 241, 241);
}

.recipe-ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

.calculation {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}
.calculation-mobile {
    display: flex;
    width: 50%;
}
.calculation label {
    padding-right: 10px;
}

#portions {
    width: 100%;  
    max-width: 200px;
    height: 41px;
    padding: 0 8px;
    box-sizing: border-box;
    display: block;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
}

#portions-btn {
    padding: 0 16px;
    height: 41px;
    line-height: 41px;
    border: none;
    background: rgb(0,160,0);
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
}

.grey-line {
    background-color: rgb(241, 241, 241);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td {
    text-align: left;
    padding: 14px 24px;
    border-radius: 10px;
}

.preparation {
    width: 100%;
    padding-bottom: 48px;
}
.preparation h2 {
    padding-bottom: 24px;
}
.description-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 32px;
}

.optional {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.optional img {
    width: 50%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.author {
    width: 100%;
    padding-bottom: 48px;
}

.author h3 {
    padding-bottom: 24px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 32px;
}
.profile-picture {
    width: 72px;
    border-radius: 50%;
}
.profile-caption {
    font-family: Raleway Light;
    font-size: 24px;
}

/* Recipe of the Day */

@media (max-width: 1700px) {
    .main-recipe{
        padding: 0 130px;
    }
}
@media (max-width: 992px) {
    .main-recipe, .recipes, .fun-fact-container {
        padding-left: 100px;
        padding-right: 100px;
    }
    .fun-fact-caption {
        width: 50%;
    }
    .main-recipe-btn {
        margin-bottom: 0;
    }
    .main-recipe-description {
        gap: 10px;
    }
    .main-recipe-description h3 {
        font-size: 21px;
    }
    .main-recipe-description p {
        font-size: 15px;
    }
}
/* -------- */

@media (max-width: 767px) {
    /* Recipe of the Day */
    .main-recipe, .recipes, .fun-fact-container {
        height: auto;
        padding-left: 80px;
        padding-right: 80px;
    }
    .recipes-columns, .fun-fact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 30px;
    }

    .main-recipe-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 30px;
    }

    /* Bild */
    .croissant-img {
        flex: 1 1; 
        max-width: 100%;  
        object-fit: cover;
        border-radius: 15px;
    }

    /* Caption */
    .main-recipe-caption {
        flex: 1 1;   
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        min-width: 0; 
        gap: 30px;
    }
        
    .main-recipe-description {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;
        width: 100%;
    }
    .main-recipe-description h3 {
        font-size: 24px;
    }
    .main-recipe-description p {
        font-size: 16px;
    }
    .main-recipe-btn {
        border: 15px;
        background-color: green;
        height: 45px;
        width: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .column-img, .fun-fact-img {
        display: flex;
        justify-content: center;
    }

    .fun-fact-caption {
        width: 100%;
    }

    /* Recipe */
    .recipe-main-container {
        padding: 0 80px;
    }
}

@media (max-width: 576px) {
    /* Recipe of the Day */
    .main-recipe, .recipes, .fun-fact-container {
        padding-left: 60px;
        padding-right: 60px;
    }

    /* Recipe */
    .recipe-main-container {
        padding: 0 40px;
    }
    .calculation-mobile {
        display: flex;
        max-width: 80%;
        width: 100%;
        align-items: center;
        box-sizing: border-box;
    }
    .calculation {
        flex-direction: column;
    }
    .grey-box {
        width: 50%;
    }
    .description-columns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Recipe of the Day */
@media (max-width: 500px) {
    .main-recipe-description h3, h3 {
        font-size: 22px;
    }
}
@media (max-width: 400px) {
    .main-recipe-description h3, h3 {
        font-size: 20px;
    }
}
/* ---- */

@media (max-width: 470px) {
    .description-columns {
        display: flex;
    }
    .grey-box {
        width: 70%;
    }
    .grey-box p {
        font-size: 14px;
    }
    .calculation-mobile {
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 24px;
    }
    .calculation {
        flex-direction: column;
        gap: 10px;
    }
    .profile-picture {width: 64px;}
    .profile-caption {font-size: 20px;}
}