
/* This section is for general settings */

* {
    margin: 0;
    text-decoration: none;
}

body {
    font-family: Raleway Regular, sans-serif;
}

.mw-1440 {
    max-width: 1440px;
}

#unsupported-msg {
    display: none;
}


/* Primary Styles */
/* This section is for the navbar */

.navigation {
    margin: auto;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    font-size: 20px;
    font-family: Raleway Regular;
}


.logo {
    width: 50%;
    display: flex;
    align-items: center;
}
.links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
    width: 50%;
    height: 100%;
    margin-bottom: 20px;
}

.nav-link {
    font-family: Raleway Bold;
    text-decoration: none;
    color: black;
}

.active-link, .nav-link:hover {
    color: green;
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 4px;
}

.navbar-logo {
    max-height: 90px; 
    width: auto;
}

.toggle-button {
    position: absolute;
    margin-left: 80%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 17px;
}

.bar {
    height: 2px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}



/* This section is for the Hero */

.hero {
    height: calc(100vh - 130px - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 20px;
}


/* This section is for the footer */

footer {
    display: flex;
    width: 100%;
    height: 200px;
    box-shadow: 16px 0px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-logo {
    width: auto;
    height: 60px;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

 
.impressum-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    background-color: rgb(228, 228, 228);
    padding: 80px;
    border-radius: 10px;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
}

.impressum-text {
    align-items: flex-start;
}




/* Secondary Styles */


/* index.html */

.main-page {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main-page .title {
    text-align: center;
}

.main-page .text {
    text-align: center;
}

.main-page .button {
    background-color: #009900;
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 15px 0;
}
.link-to-recipes {
    color: white;
}


/* This section is for Contact */

.contact-form {
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 32px;
  width: 90%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: left;
}

.contact-form h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: left;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-bottom: 16px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  font-family: Raleway Regular, sans-serif;
}

.contact-form textarea {
  height: 350px;
  resize: none;
}

.contact-form button {
  background-color: #008000;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  align-self: center;
  width: 30%;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background-color: #009900;
}


/* This section is for the breakpoints for mobile/tablet */

@media (max-width: 1700px) {
    .navbar, .footer-content {
        padding: 0 130px;
    }
}

@media (max-width: 1190px) {

    .navbar {
        padding: 0;
        width: 100%;
        display: block;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .logo img {
        margin: auto;
        max-height: 90px;
    }

    .links {
        display: none;
    }

    .toggle-button {
        display: flex;
        top: 50%;               /* z. B. leicht nach unten verschieben */
        transform: translate(-50%, -50%);
    }

    .bar1.active{rotate: 45deg; margin-top: 8px;}

    .bar2.active{rotate: -45deg; margin-bottom: 8px;}

    .bar{transition: all .3s ease-in-out;}

    .links.active {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 1s ease-in-out;
        background-color: white;
        width: 100%;
        height: 350px;
        padding: 10px 0;
        gap: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .links.active .navLink {
        margin: auto;
        max-height: 50px
    }

    .footer-content {
        padding: 0 80px;
    }

    .copyright {
        display: none;
    }

}

@media (max-width: 992px) {
    .footer-content {
        padding: 0 60px;
    }
}

@media (max-width: 767px) {
    .footer-content {
        max-width: 1440px;
        gap: 30px;
    }


}


@media (max-width: 576px) {
    .navbar-logo {
        height: 60px;
    }
    footer {
        height: auto
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        max-width: 1440px;
        gap: 30px;
        padding: 20px 0px;
    }

    .copyright {
        text-align: center;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .footer-column {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    /* Style for Contact form */
    .contact-form {
        width: 95%;
        padding: 24px;
    }
    .contact-form textarea {
        height: 200px;
    }
    .contact-form button {
        width: 50%;
    }
}





/* This section is only for too small devices */

/* hide the content */
.page-wrapper { display: none; }
/* If device width is higher than 320px, content shows */
@media (min-width: 321px) { .page-wrapper { display: block; } }

/* otherwise the message shows up */
@media (max-width: 320.99px) {
    #unsupported-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: #f8d7da;
        color: #721c24;
        font-family: sans-serif;
        height: 100vh;
    }
}