/* This section is for general settings */

* {
    margin: 0;
    text-decoration: none;
}

body {
    font-family: Raleway Regular, sans-serif;
}


.mw-1440 {
    max-width: 1440px;
}

.img-small {
    height: 270px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

h2 {
    font-size: 30px;
}

.text {
    color: #959595;
    font-size: 20px;
}


#unsupported-msg {
    display: none;
}

/* This section is for the navbar */

.navigation {
    margin: auto;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    font-size: 20px;
    font-family: Raleway Regular;
}


.logo {
    width: 50%;
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
    width: 50%;
    height: 100%;
    margin-bottom: 20px;
}

.nav-link {
    font-family: Raleway Bold;
    text-decoration: none;
    color: black;
}

.active-link,
.nav-link:hover {
    color: green;
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 3px;
}

/*this section is for the menu inkl button */

.img-header {
    height: 90px;
    width: auto;
}

.img-croissant {
    width: 550px;
    border-radius: 15px;
}

.fr-croissant {
    padding: 95px 0;
    display: flex;
    justify-content: space-around;
}

.figure-fr-croissant {
    margin: 0;
    display: flex;
    gap: 40px;
    max-width: 1440px;
}

.h2-croissants {
    color: rgb(49, 48, 48);
    margin-block-start: 0;

}

.text-croissant {
    color: #959595;
    font-size: 25px;

}

.button-open-recipe {
    border: 15px;
    background-color: green;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.button-croissant {
    margin-top: 170px;
    border: 15px;
    background-color: green;
    height: 55px;
    width: 220px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*this section is for the recipe of the day choice */
.smth-new {
    background-color: #e5e5e5;
    padding-bottom: 120px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.container-smt-new {
    display: flex;
    max-width: 1440px;
    width: 100%;
    flex-direction: column;
}

.h2-smth-new {
    display: flex;
    justify-content: center;
    margin-block: 0;
    padding: 50px 0;


}

.menus-smth-new {
    display: flex;
    justify-content: space-between;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/*this section is about to explain the difference between pan and wok  */
.pan-vs-wok {
    padding: 95px 0;
    display: flex;
    max-width: 1440px;
    flex-direction: column;
    margin: auto;
}

.h2-pan-vs-wok {
    display: flex;
    justify-content: center;
    margin: 60px 0 60px 0;
}

.figure-pan-vs-wok {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}





.active-link,
.nav-link:hover {
    color: green;
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 4px;
}

.navbar-logo {
    max-height: 90px;
    width: auto;
}

.toggle-button {
    position: absolute;
    margin-left: 80%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 17px;
}

.bar {
    height: 2px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}



/* This section is for the Hero */

.hero {
    width: 100%;
    height: calc(100vh - 130px - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* This section is for the footer */

footer {
    display: flex;
    width: 100%;
    height: 200px;
    box-shadow: 16px 0px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-logo {
    width: auto;
    height: 60px;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: black;
}


.contact-form,
.impressum-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    background-color: rgb(228, 228, 228);
    padding: 80px;
    border-radius: 10px;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
}

.impressum-text {
    align-items: flex-start;
}

.contact-form h1 {
    width: 100%;
    text-align: center;
}

.contact-form label {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 8px 12px;
    max-width: 200px;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    border: 0;
    cursor: pointer;
}

/* This section is for the breakpoints for mobile/tablet */

@media (max-width: 1700px) {

    .navbar,
    .footer-content,
    .main-potatoe-soup {
        padding: 0 130px;
    }
}

/*this section is about the potatoe spoup*/

.main {
    max-width: 1440px;
    margin: auto;
}


.main-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.infotext-recipe {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 0 8px;
    margin-bottom: 24px;
    height: 30px;
    display: flex;
    align-items: center;
    width: fit-content;

}

.img-recipe {
    width: 15px;
    padding-right: 15px;

}

.cook-info {
    display: flex;
    gap: 10px;

}

.text-color {
    color: #959595;
}

.line {
    height: 2px;
    background-color: #e9e7e7;
    margin-top: 72px;
    width: 100%;
}

.button-portionen {

    border: 15px;
    background-color: green;

    width: 165px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    cursor: pointer;
}

.portionen {
    display: flex;
    padding: 20px 0;
    width: 100%;
}

.portionen-text {
    padding-right: 10px;
    display: flex;
    align-items: center;
}

#inputfield {

    border: 2px solid #e9e7e7;
    border-radius: 5px 0 0 5px;
    width: 180px;

}

.tr-design-color {
    background-color: rgb(241, 241, 241);
}

tr {
    height: 50px;
}

#ingredients {
    width: 100%;

}


.profilepic-custom {
    width: 72px;
    border-radius: 50%;
}

.recipe-from {
    display: flex;
    align-items: center;
    gap: 35px;
}

@media (max-width: 1190px) {

    .navbar {
        padding: 0;
        width: 100%;
        display: block;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .logo img {
        margin: auto;
        max-height: 90px;
    }

    .links {
        display: none;
    }

    .toggle-button {
        display: flex;
        top: 50%;               /* z. B. leicht nach unten verschieben */
        transform: translate(-50%, -50%);
    }

    .bar1.active {
        rotate: 45deg;
        margin-top: 8px;
    }

    .bar2.active {
        rotate: -45deg;
        margin-bottom: 8px;
    }

    .bar {
        transition: all .3s ease-in-out;
    }

    .links.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 1s ease-in-out;
        background-color: white;
        width: 100%;
        height: 30vh;
        padding: 10px 0;
        gap: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .links.active .navLink {
        margin: auto;
        max-height: 50px
    }

    .footer-content {
        padding: 0 80px;
    }

    .copyright {
        display: none;
    }

}

@media (max-width: 992px) {
    .footer-content {
        padding: 0 60px;
    }
}

@media (max-width: 767px) {
    .footer-content {
        max-width: 1440px;
        gap: 30px;
    }


}


@media (max-width: 576px) {
    .navbar-logo {
        height: 60px;
    }

    footer {
        height: auto
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        max-width: 1440px;
        gap: 30px;
        padding: 20px 0px;
    }

    .copyright {
        text-align: center;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .footer-column {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}





/* This section is only for too small devices */

/* hide the content */
.page-wrapper {
    display: none;
}

/* If device width is higher than 320px, content shows */
@media (min-width: 321px) {
    .page-wrapper {
        display: block;
    }
}

/* otherwise the message shows up */
@media (max-width: 320.99px) {
    #unsupported-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: #f8d7da;
        color: #721c24;
        font-family: sans-serif;
        height: 100vh;
    }
}